/* Rom Basson 313416489 */
/* Shiraz Messer 318971637 */

.formBtn {
    width: 30%;
    height: 30px;
    background-color: #DFF8EB;
    color: #424C55;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
